{% extends "base/base.html" %}
{%block title%}{{_("Accueil")}}{%endblock%}
{% block main %}
<h1>{{_("Accueil")}}</h1>
<article>
  <p>{{_("Share-Ring est un outil permettant de prêter des objets et de rendre des coups de main entre voisins.")}}</p>
</article>
{% endblock %}