{% extends "base/base.html" %}
{%block title%}{{_("Nos engagements")}}{%endblock%}
{% block main %}
<!-- Page content -->
<div class="w3-margin">
<section class="w3-content w3-white w3-padding" style="max-width:90em">
    <h1>Nos engagements</h1>
    <article>
        <p>lorem ipsum </p>
    </article>
</section>
</div>
{% endblock %}