{% extends "base/base.html" %}
{%block title%}{{_("Recherche")}}{%endblock%}
{% block main %}
<h1>{{_("Trouver un objet pour l'emprunter")}}</h1>
<form method="GET" action="{{url_for('core.search')}}">
  <div class="w3-row-padding">
    <div class="w3-col m9">
      {{render_input(g.form.q, class_="w3-input w3-border", placeholder=_("perceuse, tondeuse"))}}
    </div>
  </div>
  <p><button type="submit" class="w3-right w3-button w3-dark-grey">{{_("Trouver")}}</button></p>
</form>

<div class="w3-row-padding">
  <div class="w3-col m2">&nbsp;</div>
  <div class="w3-col m8 w3-padding">
    {% for proposal in g.proposals %}
    <div class="w3-card-2 w3-white w3-margin-32 w3-padding">
      <div class="w3-panel w3-padding">
        <h2>{{proposal.title}}</h2>
        <p>{{proposal.description}}</p>
        {% set distance = proposal.distance(current_user.latitude, current_user.longitude) %}
        {%if distance > 0 %}
        <p class="w3-larg"><span class="fa fa-location-dot w3-margin-right"></span>{{_("Distance inférieure à %(meters)dm", meters=distance)}}</p>
        {%else%}
        <p class="w3-larg"><span class="fa fa-location-dot w3-margin-right"></span>{{_("Distance inconnue")}}</p>
        {%endif%}
        {%if proposal.caution%}
        <p class="w3-larg"><span class="fa fa-vault w3-margin-right"></span>{{_("Caution possible")}}</p>
        {%endif%}
        {%if proposal.duration > 0 %}
        <p class="w3-larg"><span class="fa fa-calendar-days w3-margin-right"></span>{{_("%(days)s jours maximum d'emprunt", days=proposal.duration)}}</p>
        {%endif%}
        <div class="w3-right">
        <a href="{{url_for('discussion.new', id=proposal.id)}}" class="w3-button w3-block w3-red w3-margin-bottom">{{_("Prendre contact")}}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="w3-col m2">&nbsp;</div>
</div>
{% endblock %}