{% extends "base/base.html" %}
{%block title%}{{_("Continuer une discussion")}}{%endblock%}
{% block main %}
<h1>{{ _("Discussion en cours") }}</h1>
{% if g.discussion.user.id == current_user.id %}
<p class="w3-right"><a class="w3-button w3-round w3-red" href="{{url_for('discussion.delete', id=g.discussion.id)}}">{{_("Supprimer la discussion")}}</a></p>
{% endif %}
<p>{{ _("Discussion entre %(owner)s et %(user)s à propos de l'annonce", owner=g.discussion.proposal.owner.login, user=g.discussion.user.login) }} <a href="{{url_for("proposal.view", id=g.discussion.proposal.id)}}">{{g.discussion.proposal.title}}</a>.</p>
<div class="w3-content w3-row-padding" style="max-width:50em">
  {% for message in g.discussion.messages %}
  <div class="w3-row-padding">
    {% if message.user_id == current_user.id %}
    <div class="w3-third">&nbsp;</div>
    <div class="w3-round-xlarge w3-khaki w3-twothird w3-margin-bottom">
    {% else %}
    <div class="w3-round-xlarge w3-light-gray w3-twothird w3-margin-bottom">
    {% endif %}
      <div class="w3-padding">
        <p class="">{{message.message}}</p>
        <span class="w3-right w3-small w3-margin-bottom">{{message.published|datetimeformat}}</span>
      </div>
    </div>
  </div>
  {% endfor %}
  <form method="post" action="{{url_for('discussion.send', id=g.discussion.proposal.id)}}">
    {{g.form.hidden_tag()}}
    <div class="w3-margin">
    {{render_input(g.form.message, class_="w3-input w3-border")}}
    </div>
    <div class="w3-margin w3-right">
    <input class="w3-button w3-round w3-red" type="submit" value="{{_("Répondre")}}">
    <a class="w3-button w3-round w3-black" href="{{url_for('discussion.list')}}">{{_("Retour")}}</a>
    </div>
  </form>
</div>
{% endblock %}