{% extends "base/base.html" %}
{%block title%}{{_("Mes annonces")}}{%endblock%}
{% block main %}
<h1>{{ _("Mes annonces") }}</h1>

<p class="w3-right"><a class="w3-button w3-red" href="{{url_for('proposal.new')}}">{{_("Publier une nouvelle annonce")}}</a></p>
<div class="w3-row w3-container w3-margin-bottom">
    {% if not current_user.proposals %}
  <p>{{_("Vous ne proposez rien pour le moment")}}</p>
  {% endif %}
  {% for proposal in current_user.proposals %}
  <div class="w3-card-2 w3-white w3-margin w3-padding w3-twothird">
    <div class="w3-panel w3-padding">
      <h2>{{proposal.title}}</h2>
      <p>{{proposal.description}}</p>
      <p>{{_("Caution demandée :")}} {%if proposal.caution%}{{_("Oui")}}{%else%}{{_("Non")}}{%endif%}</p>
      <p>{{_("Durée maximale du prêt :")}} {{ proposal.duration }} {{_("jours")}}</p>
      <a class="w3-button w3-red w3-margin" href="{{url_for('proposal.edit', id=proposal.id)}}"><span class="fa fa-pen w3-margin-right w3-hide-small"></span>{{_("Modifier")}}</a>
      <a class="w3-button w3-black w3-margin" href="{{url_for('proposal.delete', id=proposal.id)}}"><span class="fa fa-trash w3-margin-right w3-hide-small"></span>{{_("Supprimer")}}</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}