{% extends "base/base.html" %}
{%block title%}{{_("Proposer")}}{%endblock%}
{% block main %}
<h1>{{ _("Proposer un objet, un service") }}</h1>
<div class="w3-content w3-row-padding" style="max-width:50em">
  <form method="post" action="{{url_for('proposal.new')}}">
    {{g.form.hidden_tag()}}
    <div class="w3-margin">
    {{render_input(g.form.title, class_="w3-input w3-border")}}
    </div>
    <div class="w3-margin">
    {{render_input(g.form.description, class_="w3-input w3-border")}}
    </div>
    <div class="w3-margin">
    {{render_checkbox(g.form.caution, class_="w3-checkbox w3-border")}}
    </div>
    <div class="w3-margin">
    {{render_input(g.form.duration, class_="w3-input w3-border")}}
    </div>
    <div class="w3-margin w3-right">
    <input class="w3-button w3-round w3-red" type="submit" value="{{_("Publier cette annonce")}}">
    <a class="w3-button w3-round w3-black" href="{{url_for('proposal.list')}}">{{_("Retour")}}</a>
    </div>
  </form>
</div>
{% endblock %}