{% extends "base/base.html" %}
{%block title%}{{_("Communautés")}}{%endblock%}
{% block main %}
<h1>{{ _("Communautés") }}</h1>

{%include("user/profile_header.html")%}

{% if current_user.communities|length == 0 %}
<p>{{_("Afin de pouvoir faire des échanges avec vos voisins, il est nécessaire de rejoindre
ou de créer une communauté au sein de laquelle vous pourrez facilement proposer des
objets ou des services aux personnes proches de chez vous.")}}</p>
<div class="w3-row">
  {% if g.settings.can_create_community %}
  <div class="w3-col m6 w3-padding w3-center">
    <a href="{{url_for('community.new')}}" class="w3-button w3-red">{{_("Créer une nouvelle communauté")}}</a>
  </div>
  {% endif %}
  <div class="w3-col m6 w3-padding w3-center">
    <a href="{{url_for('community.list')}}" class="w3-button w3-red">{{_("Rejoindre une communauté existante")}}</a>
  </div>
</div>
{%else%}
<p class="w3-right"><a class="w3-button w3-red" href="{{url_for('community.new')}}">{{_("Créer une nouvelle communauté")}}</a></p>
<h2>{{_("Vos communautés")}}</h2>
<div class="w3-row">
  {% for community in current_user.communities %}
  <div class="w3-card-4 w3-white w3-margin w3-padding">
    <div class="w3-panel w3-padding">
      <h3>{{community.name}}</h3>
      <p>{{community.members|length}} {{_("membre(s)")}}</p>
      <a class="w3-button w3-red w3-margin" href="{{url_for('community.edit', id=community.id)}}"><span class="fa fa-pen w3-margin-right w3-hide-small"></span>{{_("Modifier")}}</a>
      <a class="w3-button w3-black w3-margin" href="{{url_for('community.quit', id=community.id)}}"><span class="fa fa-trash w3-margin-right w3-hide-small"></span>{{_("Quitter la communauté")}}</a>
    </div>
  </div>
  {% endfor %}
</div>
{%endif%}
{% endblock %}
