{% extends "base/base.html" %}
{%block title%}{{_("Communautés")}}{%endblock%}
{% block main %}
<h1>{{_("Communautés")}}</h1>

<div class="w3-container w3-white w3-padding-16 myLink">
  <h2>{{_("Chercher une communauté")}}</h2>
  <form method="get" action="{{url_for('community.list')}}">
    {{render_input(g.form.name, class_="w3-input w3-border")}}
    <p><button type="submit" class="w3-right w3-button w3-red">{{_("Chercher")}}</button></p>
  </form>
</div>

<div class="w3-row">
  {% for community in g.communities %}
  <div class="w3-card-4 w3-white w3-margin w3-padding w3-half">
    <div class="w3-panel">
      <h3>{{community.name}}</h3>
      <p>{{community.members|length}} membre(s)</p>
      <a class="w3-button w3-red w3-margin w3-right" href="{{url_for('community.join', id=community.id)}}"><span class="fa fa-chain w3-margin-right w3-hide-small"></span>{{_("Rejoindre cette communauté")}}</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}