{% extends "base/base.html" %}
{%block title%}{{_("Connexion")}}{%endblock%}
{% block main %}
<h1>{{ _("Connexion") }}</h1>
<div class="w3-content w3-row-padding">
  <div class="w3-quarter">&nbsp;</div>
  <form method="post" action="{{url_for('user.login')}}" class="w3-half">
    {{g.form.hidden_tag()}}
    <div class="w3-margin">
    {{render_input(g.form.login, class_="w3-input", autofocus="")}}
    </div>
    <div class="w3-margin">
    {{render_input(g.form.password, class_="w3-input")}}
    </div>
    <div class="w3-margin w3-right">
    <input class="w3-button w3-round w3-blue" type="submit" value="{{_("Connexion")}}">
    <a class="w3-button w3-round w3-black" href="{{url_for('core.index')}}">{{_("Retour")}}</a>
    </div>
    </form>
  </div>
<!--
  <div class="w3-center w3-margin-bottom">
    <a href="{{url_for('user.forgot_password')}}">{{_("Mot de passe oublié ?")}}</a>
  </div>
-->
</div>
{% endblock %}
