{% extends "base/base.html" %}
{%block title%}{{_("Administration")}}{%endblock%}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" />
<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
<h1>{{ _("Administration") }}</h1>

{%include("admin/admin_header.html")%}

<h2>{{_("Tableau de bord")}}</h2>
<div class="w3-content w3-row-padding">
  <h3>{{_("Informations générales")}}</h3>
  <p>{{_("Nombre d'utilisateurs :")}} {{ g.users }}
    {% if not g.settings.can_subscribe %}<i>{{_("(Nouvelles inscriptions bloquées)")}}</i>{% endif %}
  </p>

  <p>{{_("Nombre de communautés :")}} {{ g.communities|length }}
    {% if not g.settings.can_create_community %}<i>{{_("(Création de nouvelles communautés bloquée)")}}</i>{% endif %}
  </p>

  <hr />

  <h3>{{_("Détails des communautés")}}</h3>
  {% if not g.communities %}
  <p>{{_("Il n'y a pas encore de communauté sur l'instance.")}}</p>
  {% else %}
  <table class="w3-table w3-table-all w3-striped">
    <thead>
      <th class="w3-red w3-center">{{_("Nom")}}</th>
      <th class="w3-red w3-center">{{_("Nombre de membres")}}</th>
      <th class="w3-red w3-center">{{_("Nombre d'annonces")}}</th>
    </thead>
    <tbody>
      {% for community in g.communities %}
      <tr>
        <td>{{ community.name }}</td>
        <td>{{ community.members|length }}</td>
        <td>{{ community.nb_proposals }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
